<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <script src="../../../lib/vue.global.js"></script>
  <script src="../../../out/utils/message.js"></script>
</head>
<body>
  <div id="app">
    <div v-if="postList.length">
      <div class="post-item" v-for="item in postList" :key="item.pid">
        <div>author: {{item.author}}</div>
        <div>{{item.text}}</div>
        <div v-if="item.imageList.length">
          <img class="post-img" v-for="(src, index) in item.imageList" :key="index" :src="src">
        </div>
        <div v-if="item.commentList && item.commentList.length">
          <div>评论:</div>
          <div v-for="comment in item.commentList" :key="comment['comment_id']">
            <span>{{comment.username}}: </span>
            <span v-html="comment.content"></span>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <script>
    const app = {
      data() {
        return {
          url: '',
          postList: []
        }
      },
      async created() {
        await callVscode('getPostList').then(res => {
          this.postList = res
        })
        document.title = this.postList[0].text
      }
    }
    Vue.createApp(app).mount('#app')
  </script>
  <style>
    body {
      color: #d4d4d4;
      line-height: 2em;
    }
    .post-item {
      padding: 20px 0;
      border-bottom: 1px solid #eeeeee;
    }
    .post-img {
      max-width: 200px;
      opacity: 0.3;
      margin-right: 20px;
    }
    /* 评论中的表情 */
    img {
      opacity: 0.3;
    }
  </style>
</body>
</html>